.shapes{
    overflow: hidden;
    position: bottom;
    list-style-type: none;
    padding-left: 225px;
  }
  
  .shapes li.sq > a{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    text-align: center;
    border: 1px solid;
    display: block;
    color: #000;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 7px solid #FFA500;
  }
  
  .shapes li.sq > a:hover, .shapes li.sq > a.active {
      background-color: #FFA500;
      border: 1px solid #FFA500;
    color: #fff;
    border-bottom: 7px solid #FFA500;
  }
  
  .shapes li.tri > a{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    text-align: center;
    border: 1px solid;
    display: block;
    color: #000;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 7px solid #008000;
  }
  
  .shapes li.tri > a:hover, .shapes li.tri > a.active {
      background-color: #008000;
      border: 1px solid #008000;
    color: #fff;
    border-bottom: 7px solid #008000;
  }
  
  .shapes li.rhom > a{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    text-align: center;
    border: 1px solid;
    display: block;
    color: #000;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 7px solid #0000FF;
  }
  
  .shapes li.rhom > a:hover, .shapes li.rhom > a.active {
      background-color: #0000FF;
      border: 1px solid #0000FF;
    color: #fff;
    border-bottom: 7px solid #0000FF;
  }
  
  .shapes li.dia > a{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    text-align: center;
    border: 1px solid;
    display: block;
    color: #000;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 7px solid #F4A460;
  }
  
  .shapes li.dia > a:hover, .shapes li.dia > a.active {
      background-color: #F4A460;
      border: 1px solid #F4A460;
    color: #fff;
    border-bottom: 7px solid #F4A460;
  }
  
  .shapes li.trape > a{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    text-align: center;
    border: 1px solid;
    display: block;
    color: #000;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 7px solid #FF0000;
  }
  
  .shapes li.trape > a:hover, .shapes li.trape > a.active {
      background-color: #FF0000;
      border: 1px solid #FF0000;
    color: #fff;
    border-bottom: 7px solid #FF0000;
  }
  
  .shapes li.hex > a{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    text-align: center;
    border: 1px solid;
    display: block;
    color: #000;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 7px solid #FFFF00;
  }
  
  .shapes li.hex > a:hover, .shapes li.hex > a.active {
      background-color: #FFFF00;
      border: 1px solid #FFFF00;
    color: #000;
    border-bottom: 7px solid #FFFF00;
  }
  
  #demoCanvas{
    border: 1px solid;
  }
  
  #message{
    float: right;
    position: right;
  }